name: file_memory_app
description: Smart file cleanup assistant
publish_to: 'none'
version: 1.0.0+1

environment:
  sdk: '>=3.0.0 <4.0.0'

dependencies:
  flutter:
    sdk: flutter
  cupertino_icons: ^1.0.6
  photo_manager: ^3.0.0
  permission_handler: ^11.0.1
  path_provider: ^2.1.1
  sqflite: ^2.3.0
  flutter_local_notifications: ^16.3.0
  provider: ^6.1.1
  intl: ^0.18.1

dev_dependencies:
  flutter_test:
    sdk: flutter
  flutter_lints: ^3.0.0

flutter:
  uses-material-design: true
